body {
  padding-top: 110px;
}

.navbar {
  z-index: 100;
  background-color: white;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 82%;
  margin-left: -50px;
  padding-left: 50px;
  padding-bottom: 10px;
}

.carousel {
  max-height: 400px;
  width: 100%;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

.imageLink {
  cursor: pointer;
  margin-bottom: 10px;
}

.imageHeader {
  margin-bottom: 5px;
}

.authLink {
  float: right;
  text-align: right;
  display: inline;
}

.navLinks {
  font-size: 18px;
  color: #474a4f;
  display: inline;
}

.navSearch {
  height: 26px;
  font-size: 18px;
  margin-left: 20px;
}

.artworkDescription {
  margin-bottom: 10px;
}

.closedListing {
  color: red;
}

.authForm {
  width: 40%;
  margin-top: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.messageWindow {
  position: fixed;
  bottom: 0px;
  right: 10px;
  width: 250px;
  height: 300px;
  z-index: 100;
}

.messageInput {
  position: /*fixed*/;
  bottom: 0;
}

.messageFeed {
  overflow-y: scroll;
  height: 200px;
  width: 220px;
}

.senderMessage {
  color: white;
  background-color: black;
}

.receiverMessage {
  color: black;
  background-color: white;
}

.closeChatButton {
  display: inline;
  float: right;
  cursor: pointer;
}

.chatTopBar {
  display: inline;
  float: left;
  cursor: pointer;
}

.miniChatBar {
  cursor: pointer;
  position: fixed;
  bottom: 5px;
  right: 10px;
  width: 250px;
  height: 50px;
  z-index: 100;
}

.messageInput {
  margin-top: -5px;
  margin-bottom: 5px;
}

.inboxContainer {
  margin-bottom: 30px;
}

.inboxLink {
  cursor: pointer;
}




